<div class='row'>
    <div class='col-xs-3'>
        <h2>User info</h2>
        <%= render 'users/info', user: @user %>
        <h2>New book</h2>
        <%= render 'books/form', book: Book.new %>
    </div>
  

    <div class='col-xs-9'>
		<h2>Group detail</h2>
		
        <table class='table'>
            <tr>
                <td><%= attachment_image_tag(@group, :image, size:"50x50", fallback: "no-image-icon.jpg") %></td>
                <td><%= link_to @group.name, group_path(@group) %></td>
                <td><%= @group.introduction %></td>
                <td>
                    <% if @group.owner_id == current_user.id %>
                      <%= link_to "Edit", edit_group_path(@group), class:"btn btn-default"%>
                    <% end %>
                </td>
            </tr>
        </table>
    </div>
</div>