<%= form_for(book) do |f| %>
  <div class="field row">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'col-xs-12 book_title' %>
  </div>

  <div class="field row">
    <%= f.label :opinion %>
    <%= f.text_area :body, class: 'col-xs-12 book_body'%>
  </div>
  
  <div class="field row">
    <%= f.label :category %>
    <%= f.text_field :category, class: 'col-xs-12 book_body' %>
  </div>
  
  <% if book.rate.nil? %>
    <% puts "true" %>
    <div class="field row" id="rating-form">
      <%= f.hidden_field :rate, :value => 'score' %>
    </div>
  <% else %>
      <div id=<%= "data-score-" + book.rate.to_s %>></div>
  <% end %>

  <div class="actions row">
    <%= f.submit class: 'btn btn-primary col-xs-12'%>
  </div>
<% end %>

<script>
  $('#data-score-' + <%= book.rate %>).raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    score: "<%= book.rate %>",
    readOnly: true
  });
</script>