<%= render 'layouts/errors', obj: @book %>

<div class='row'>
  <div class='col-xs-3'>
    <h2>User info</h2>
    <%= render 'users/info', user: current_user %>

    <h2>New book</h2>
    <%= render 'form', book: @book %>
  </div>

  <div class='col-xs-9'>
    <h2>Books</h2>

    <%= render 'index', books: @books%>
    
    <table class="table table-bordered">
      <thead>
        <tr>
          <% [*0..5].each do |i| %>
            <th><%= 6 - i %>日前</th>
          <% end %>
          <th>今日</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @book_count_list.each do |i| %>
            <td><%= i %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
    
    <canvas id="myChart"></canvas>
    
  </div>
</div>

<script>
  console.log("開始しました")
  var ctx = document.getElementById("myChart");
  var myChart = new Chart(ctx, {
    type: "line",
    data: {
      labels: ["6日前", "5日前", "4日前", "3日前", "2日前", "1日前", "今日"],
      datasets: [{
        label: "投稿した本の数",
        data: gon.book_count_list,
        borderColor: "blue",
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero:true
          }
        }]
      }
    }
  });
</script>